Repository dianakarpeev/mutsu, pull requests merged in 2023-12, with the labels that each got.

#75 Bring changes from Main
  app/build.gradle.kts
  app/src/main/java/com/example/mutsu/CookBookViewModel.kt
  app/src/main/java/com/example/mutsu/Food.kt
  app/src/main/java/com/example/mutsu/IngredientsViewModel.kt
  app/src/main/java/com/example/mutsu/MainActivity.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/RecipeListScreen.kt
  app/src/main/java/com/example/mutsu/RecipeViewModel.kt
  app/src/main/java/com/example/mutsu/navigation/MutsuDestination.kt
  app/src/main/java/com/example/mutsu/repositories/IngredientsNameRepository.kt
  app/src/main/java/com/example/mutsu/serializers/IngredientsNameSerializer.kt
  app/src/main/proto/mutsustorage.proto
Labels: Login/Register

#76 FEAT: Implement Firebase for login/registration
  app/build.gradle.kts
  app/google-services.json
  app/src/androidTest/java/com/example/mutsu/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/emptyactivity/LoginRegister.kt
  app/src/main/java/com/example/mutsu/AboutUs.kt
  app/src/main/java/com/example/mutsu/AppModule.kt
  app/src/main/java/com/example/mutsu/Food.kt
  app/src/main/java/com/example/mutsu/IngredientsScreen.kt
  app/src/main/java/com/example/mutsu/IngredientsViewModel.kt
  app/src/main/java/com/example/mutsu/MainActivity.kt
  app/src/main/java/com/example/mutsu/MutsuHome.kt
  app/src/main/java/com/example/mutsu/MyApp.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/RecipeListScreen.kt
  app/src/main/java/com/example/mutsu/RecipeViewModel.kt
  app/src/main/java/com/example/mutsu/ShoppingList.kt
  app/src/main/java/com/example/mutsu/loginRegistration/AuthViewModel.kt
  app/src/main/java/com/example/mutsu/loginRegistration/AuthViewModelFactory.kt
  app/src/main/java/com/example/mutsu/loginRegistration/FirebaseLoginRegister.kt
  app/src/main/java/com/example/mutsu/loginRegistration/LoginRegister.kt
  app/src/main/java/com/example/mutsu/navigation/MutsuDestination.kt
  app/src/main/java/com/example/mutsu/repositories/IngredientsNameRepository.kt
  app/src/main/java/com/example/mutsu/serializers/IngredientsNameSerializer.kt
  app/src/main/java/com/example/mutsu/ui/theme/Color.kt
  app/src/main/java/com/example/mutsu/ui/theme/Theme.kt
  app/src/main/java/com/example/mutsu/ui/theme/Type.kt
  app/src/main/proto/mutsustorage.proto
  app/src/test/java/com/example/mutsu/ExampleUnitTest.kt
  build.gradle.kts
  settings.gradle.kts
Labels: Login/Register

#100 confirmation and display ingredients for grocery list
  app/src/main/java/com/example/mutsu/IngredientsScreen.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/loginRegistration/LoginRegister.kt
Labels: Meal Plan, Login/Register, Navigation

#101 login/register user interface, confirmation popups and display meal plan ingredients list
  app/build.gradle.kts
  app/src/main/java/com/example/mutsu/IngredientsScreen.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/loginRegistration/AuthViewModel.kt
  app/src/main/java/com/example/mutsu/loginRegistration/LoginRegister.kt
  app/src/main/res/drawable/applecore.png
  app/src/main/res/drawable/radish.png
Labels: Meal Plan, Grocery List, Login/Register, Navigation

#103 Recipes with datastore
  app/build.gradle.kts
  app/src/main/java/com/example/mutsu/IngredientsViewModel.kt
  app/src/main/java/com/example/mutsu/MainActivity.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/RecipeListScreen.kt
  app/src/main/java/com/example/mutsu/RecipeViewModel.kt
  app/src/main/java/com/example/mutsu/dataStoreSingleton.kt
  app/src/main/java/com/example/mutsu/repositories/RecipeRepository.kt
  app/src/main/java/com/example/mutsu/serializers/RecipeSerializer.kt
  app/src/main/java/com/example/mutsu/serializers/StoredRecipesSerializer.kt
  app/src/main/java/com/example/mutsu/ui/theme/Theme.kt
  app/src/main/proto/mutsustorage.proto
Labels: Recipe Collection

#104 add information to about us and home page
  app/src/main/java/com/example/mutsu/AboutUs.kt
  app/src/main/java/com/example/mutsu/MutsuHome.kt
  app/src/main/java/com/example/mutsu/loginRegistration/LoginRegister.kt
  app/src/main/res/drawable/blueberry.png
  app/src/main/res/drawable/egg.png
  app/src/main/res/drawable/lemon.png
Labels: Home Page, About Us

#105 fix: update meal plan ui and usage of recipes from storage
  app/src/main/java/com/example/mutsu/Food.kt
  app/src/main/java/com/example/mutsu/MainActivity.kt
  app/src/main/java/com/example/mutsu/MealPlanScreen.kt
  app/src/main/java/com/example/mutsu/MealsViewModel.kt
  app/src/main/java/com/example/mutsu/MutsuHome.kt
  app/src/main/java/com/example/mutsu/RecipeViewModel.kt
  app/src/main/java/com/example/mutsu/ShoppingList.kt
Labels: Meal Plan

#107 88 choose a license
  LICENSE.md
Labels: documentation

#110 feat: add animated navigation transitions as an advanced feature
  app/build.gradle.kts
  app/src/main/java/com/example/mutsu/MainActivity.kt
Labels: documentation, enhancement

#114 responsive screens and final UI
  app/build.gradle.kts
  app/src/main/java/com/example/mutsu/DataStoreSingleton.kt
  app/src/main/java/com/example/mutsu/MainActivity.kt
  app/src/main/java/com/example/mutsu/MutsuHome.kt
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/java/com/example/mutsu/loginRegistration/LoginRegister.kt
Labels: enhancement, Home Page, Recipe Collection, Meal Plan, Grocery List, About Us, Login/Register

#113 General bug fixing
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/mutsu/RecipeInformation.kt
  app/src/main/res/drawable/mutsu_square.png
Labels: bug, Recipe Collection

#112 Fixed Ingredients Screen to include measurements and sort by count
  app/src/main/java/com/example/mutsu/IngredientsScreen.kt
  app/src/main/java/com/example/mutsu/IngredientsViewModel.kt
Labels: enhancement

#117 finalize readme
  README.md
  assets/screenshots/mutsu-home.jpg
  assets/screenshots/mutsu-logged-in.jpg
  assets/screenshots/mutsu-meal-plan.jpg
  assets/screenshots/mutsu-recipe-collection.jpg
  assets/screenshots/mutsu-recipe-information.jpg
Labels: documentation
