Repository dianakarpeev/mutsu, pull requests merged in 2023-11, with the labels that each got.

#44 MAJOR PATCH - Add Home Page, About Us page, and Grocery List CRUD
  app/src/main/java/com/example/emptyactivity/AboutUs.kt
  app/src/main/java/com/example/emptyactivity/IngredientsScreen.kt
  app/src/main/java/com/example/emptyactivity/MainActivity.kt
  app/src/main/java/com/example/emptyactivity/MutsuHome.kt
Labels: Home Page, Grocery List, About Us, Navigation

#51 Update mockups in README.md
  README.md
Labels: Nice to have

#52 Fix navigation
  app/build.gradle.kts
  app/src/main/java/com/example/emptyactivity/MainActivity.kt
  app/src/main/java/com/example/emptyactivity/MutsuHome.kt
  app/src/main/java/com/example/emptyactivity/navigation/MutsuDestination.kt
Labels: Navigation

#59 fix: Updated grocery list implementation and state
  app/build.gradle.kts
  app/src/main/java/com/example/emptyactivity/IngredientsScreen.kt
  app/src/main/java/com/example/emptyactivity/IngredientsViewModel.kt
  app/src/main/java/com/example/emptyactivity/MainActivity.kt
Labels: Grocery List

#65 Create new recipe screen
  app/build.gradle.kts
  app/src/main/java/com/example/emptyactivity/CookBookViewModel.kt
  app/src/main/java/com/example/emptyactivity/MainActivity.kt
  app/src/main/java/com/example/emptyactivity/RecipeInformation.kt
  app/src/main/java/com/example/emptyactivity/RecipeListScreen.kt
  app/src/main/java/com/example/emptyactivity/RecipeViewModel.kt
  app/src/main/java/com/example/emptyactivity/navigation/MutsuDestination.kt
Labels: Recipe Collection

#68 fix: add new ingredient to recipe
  app/src/main/java/com/example/emptyactivity/MainActivity.kt
  app/src/main/java/com/example/emptyactivity/RecipeInformation.kt
  app/src/main/java/com/example/emptyactivity/RecipeListScreen.kt
  app/src/main/java/com/example/emptyactivity/RecipeViewModel.kt
Labels: Recipe Collection
